version: '3.8'

services:
  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  airflow:
    build:
      context: ./airflow
      dockerfile: Dockerfile
    env_file:
      - ../.env
    environment:
      - LOAD_EX=n
      - POSTGRES_USER=airflow
      - POSTGRES_PASSWORD=airflow
      - POSTGRES_DB=airflow
      - POSTGRES_HOST=postgres
    depends_on:
      - postgres
      - minio
    ports:
      - "8080:8080"
    volumes:
      - ./airflow/dags:/usr/local/airflow/dags
      - ./data/input:/opt/airflow/input
      - ./data/processed:/opt/airflow/data

  mlflow:
    build:
      context: .
      dockerfile: mlflow.Dockerfile
    env_file:
      - .env
    environment:
      - MLFLOW_TRACKING_URI=http://mlflow:5000
      - MLFLOW_ARTIFACT_ROOT=s3://mlops/
      - AWS_ACCESS_KEY_ID=${MINIO_ACCESS_KEY}
      - AWS_SECRET_ACCESS_KEY=${MINIO_SECRET_KEY}
      - MLFLOW_S3_ENDPOINT_URL=${MINIO_ENDPOINT}
    ports:
      - "5000:5000"
    volumes:
      - ./mlflow_db:/mlflow_db
    command: mlflow server --backend-store-uri sqlite:////mlflow_db/mlflow.db --default-artifact-root s3://mlops/ --host 0.0.0.0

  minio:
    image: minio/minio
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data

  training:
    build:
      context: .
      dockerfile: training/Dockerfile
    env_file:
      - .env
    volumes:
      - ./data/processed:/data
      - ./training/model:/app/model
      - ./mlruns:/app/mlruns
    environment:
      - MLFLOW_TRACKING_URI=http://mlflow:5000
      - AWS_ACCESS_KEY_ID=${MINIO_ACCESS_KEY}
      - AWS_SECRET_ACCESS_KEY=${MINIO_SECRET_KEY}
      - MLFLOW_S3_ENDPOINT_URL=${MINIO_ENDPOINT}
    depends_on:
      - mlflow
      - minio

  api:
    build:
      context: .
      dockerfile: api/Dockerfile
    env_file:
      - .env
    volumes:
      - ./training/model:/app/model
    ports:
      - "8000:8000"
    depends_on:
      - training

volumes:
  postgres_data:
  minio_data: